<!doctype html>
<html ng-app>

  <head>
    <script src='js/angular.min.js'></script>
  </head>

  <body>
    <h1>WMD command builder</h1>

    <p>WMD Command</p>
    <input type='text' ng-model='cmd'>

    <p>
      <b>Reports:</b>
      <a href='' ng-click='cmd="report/"'>Engineer Reports</a> 
      <a href='' ng-click='cmd="report/weekly/"'>Weekly Reports</a>
      <a href='' ng-click='cmd="report/problems/"'>Defects Reports</a>
      <a href='' ng-click='cmd="report/plan/"'>Project plans</a> 
    </p>
    <p>
      <b>Config:</b>
      <a href='' ng-click='cmd="config/"'>Configurations</a> 
      <a href='' ng-click='cmd="test/"'>Test manager</a> 
      <a href='' ng-click='cmd="diagnostic/"'>Diagnostic manager</a> 
    </p>
    <div style='background:lightgreen'>
      <h1></h1>
      <b>URL: {{cmd}}</b>     
      <div>
        <iframe width=100% height=600px src="http://wmexpress.webfactional.com/doc/{{cmd}}">
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>
  </body>
</html>
