!!! 5
html(lang='en')  
body
  h1 Post Form Data
  p Content is posted from the form

  form(method="post", action="/")
    input(name='command',  type='text')
    input(type='submit', value='Execute')
