!!! 5
html(lang="en")
    head

        title Hammer commander

        link(href="../css/bootstrap.min.css",rel="stylesheet")
        script(src="../js/bootstrap.min.js")

    body(style="margin:3em;color:blue")

        h1 Index Jade

        div#content
        files= files

