<!doctype html>
<html ng-app="thumper">

  <head>

    <!--   
           Original location of libraries.
           <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
           <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
           <link  href="http://appthumper.com/media/thumper.css" rel="stylesheet" />
           <script src="http://appthumper.com/media/thumper.js"></script>   
    -->

    <link href="/static/bootstrap-combined.min.css" rel="stylesheet">
    <script src="/static/angular.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.4.0.js"></script>
    <link  href="/static/thumper.css" rel="stylesheet" />
    <script src="/static/thumper.js"></script>

  </head>  
  
  <body>

    <div class='header'>
      <h1>My Web Site</h1>
      <a  class='hlink' href="/">Go Home</a>
    </div>

    <div class='page'>

      <h2>Home Page</h2>

      <p>This page demonstrates the use of the twitter bootstrap styling.</p>

      <p>The following features are shown.<p>
        <ul>
          <li>
            Bootstrap stylesheet and library is loaded in the header.
          </li>
          <li>
            Angular JS library is loaded.
          </li>
          <li>
            Angular UI component library is loaded.
          </li>
          <li>
            Project specific  <a  href="/static/thumper.css">stylesheet</a> 
            lets you customize your app look.
          </li>
          <li>
            Project specific  <a  href="/static/thumper.js">java script code</a>.
          </li>
          <li>
            Build your own page structure and style.
          </li>

        </ul>

    </div>

  </body>
</html>
