!!! 5
html(lang='en')  
  head  
    title Login
    style
      body {padding: 50px; font: 13px Helvetica, Arial, sans-serif;}
      .error {color: red}
      .success {color: green;}

  body

    h1 Welcome home, #{user}


    a(href="/logout") logout
