!!! 5
html(lang="en")
  head
    title Pipe Scan
    script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
  body
    h1 Index Jade Template
    p Add other content from an HTML template
    div#content

    ul
        li
            a(href='/') home
        li
            a(href='view') view
        li
            a(href='select') select
        li
            a(href='record') record
