!!! 5
html(lang="en")
  head
    title Select Pipe Scan
  body
    h1 Select Jade Template
    p This is the select page
    div#content

    ul
        li
            a(href='/') home
        li
            a(href='view') view
        li
            a(href='select') select
        li
            a(href='record') record
