!!! 5
html(lang="en")
  head
    title Pipe Scan Development
    script(data-main='js/boot', type='text/javascript',src='/js/libs/require.js')
  body
    h1 Project Notes for Pipe Scan
    p insert active content
    div(style='border:solid 1px green')
        div#content
        div#more
